
\.gradle/4\.7/fileChanges/

\.gradle/4\.7/fileContent/

\.gradle/4\.7/fileHashes/

\.gradle/4\.7/taskHistory/

\.gradle/buildOutputCleanup/

\.gradle/vcsWorkingDirs/

\.idea/

out/production/classes/
